<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin()!"
  [cdkConnectedOverlayOpen]="visible()"
  [cdkConnectedOverlayPositions]="positions()"
  [cdkConnectedOverlayHasBackdrop]="false"
  [cdkConnectedOverlayPush]="false"
  [cdkConnectedOverlayFlexibleDimensions]="false"
  [cdkConnectedOverlayViewportMargin]="8"
  (overlayOutsideClick)="onOutsideClick($event)"
  (positionChange)="onPositionChange($event)"
  (detach)="hide()"
>
  <div
    #panel
    [class]="panelClasses()"
    [attr.id]="panelId"
    [attr.role]="role()"
    aria-modal="true"
    [attr.aria-label]="ariaLabel()"
    [attr.aria-labelledby]="ariaLabelledBy()"
    tabindex="-1"
    [cdkTrapFocus]="true"
    [uiMotion]="'zoom'"
    [motionDisabled]="!motion()"
    #panelMotion="uiMotion"
    [animate.enter]="panelMotion.enter()"
    (keydown.escape)="onEscape($event)"
  >
    @if (showArrow()) {
      <span class="ui-popover-arrow" aria-hidden="true"></span>
    }
    <div class="ui-popover-content">
      <ng-content />
    </div>
  </div>
</ng-template>
