:host {
  display: inline-flex;
  line-height: 0;
}

.ui-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1em;
  min-height: 1em;
  aspect-ratio: 1;
  color: inherit;
  font-size: var(--ui-icon-size, var(--size-typography-text-xl));

  &._sm { font-size: var(--ui-icon-size, var(--size-typography-text-md)); }
  &._md { font-size: var(--ui-icon-size, var(--size-typography-text-default)); }
  &._default { font-size: var(--ui-icon-size, var(--size-typography-text-xl)); }
  &._lg { font-size: var(--ui-icon-size, 24px); }
  &._xl { font-size: var(--ui-icon-size, 32px); }
}
