<div [class]="classes()" (mouseleave)="clearHover()">
  <!-- autofocus is a deliberate opt-in input of the component (default false). -->
  <!-- eslint-disable @angular-eslint/template/no-autofocus -->
  <input #inputEl
         type="range"
         class="ui-rating-input"
         min="0" [max]="stars()" step="1"
         [id]="resolvedId()"
         [name]="name()"
         [disabled]="isDisabled()"
         [required]="required()"
         [attr.autofocus]="autofocus() ? true : null"
         [attr.readonly]="readonly() ? true : null"
         [attr.aria-label]="ariaLabel()"
         [attr.aria-labelledby]="ariaLabelledBy()"
         [tabindex]="tabindex() ?? 0"
         [value]="currentValue()"
         (input)="onNativeChange($event)"
         (focus)="onFocus($event)"
         (blur)="onBlur($event)">
  <!-- eslint-enable @angular-eslint/template/no-autofocus -->

  <div class="ui-rating-stars">
    @for (star of starsArray(); track $index) {
      <!-- Purely visual stars: focus and keyboard are carried by
           the native <input type="range"> above. -->
      <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
      <div class="ui-rating-icon"
           [class._active]="star <= currentValue()"
           [class._hover]="star <= hoverValue()"
           (click)="rate(star)"
           (mouseenter)="setHover(star)">
        @if (star <= (hoverValue() || currentValue())) {
          <ng-container *ngTemplateOutlet="onIconTemplate() || defaultOnIcon; context: { $implicit: star, active: star <= currentValue() }" />
        } @else {
          <ng-container *ngTemplateOutlet="offIconTemplate() || defaultOffIcon; context: { $implicit: star, active: star <= currentValue() }" />
        }
      </div>
    }
  </div>
</div>

<ng-template #defaultOnIcon>
  <ui-icon name="star" type="solid" [size]="size()" />
</ng-template>

<ng-template #defaultOffIcon>
  <ui-icon name="star" type="outline" [size]="size()" />
</ng-template>
