@use "utils";

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  background-color: var(--global-background-default);
  color: var(--global-text-default);
  font-family: var(--fontfamily-base), serif;
  font-optical-sizing: auto;

  *:focus-visible {
    outline: var(--global-background-default) dashed utils.rem-calc(1px) !important;
  }
}
